/* Add your custom styles here */
body {
  font-family: "Poppins", sans-serif;
}

.mainly {
  padding-top: 80px;
  text-align: center;
}

nav {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8000;
}

.german {
  padding-top: 15px;
  margin-left: 350px;
  margin-right: 350px;
  justify-content: center;
  font-weight: 100;
  line-height: 1.5;
}

.partner {
  padding-top: 60px;
}

.logos {
  padding-top: 20px;
}

.exams {
  padding-top: 60px;
}

.a-series,
.b-series,
.c-series {
  padding-top: 40px;
}

#a1 {
  color: rgb(39, 193, 28);
  font-weight: bold;
}
